/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
h1 {
    color: black;
    font-size: 48px;
    font: medium;
    font-family: "Raleway", serif;;
    margin: 70px;
    margin-top: 130px;
    margin-bottom: 20px;
    width: 50%;
}

p {
    color: black;
    font-size: 24px;
    font-weight: 300;
    font-family: "Lexend Deca", serif;
    margin: 70px;
    margin-bottom:20px;
    margin-top: 20px;
}

h2 {
    color: black;
    font-size: 64px;
    font-weight: 400;
    font-family: "Lexend Deca", serif;
    margin: 70px;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-top: 0px;
}

h3 {
    color: black;
    font-size: 36px;
    font-weight: 400;
    font-family: "Lexend Deca", serif;
    margin: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.letra-blanca {
    color: #ffffff;
}

.centrado {
    text-align: center;
}

@media (max-width: 768px) {
    h1 { font-size: 30px;
        margin: 24px;
    }
    h2 { 
        font-size: 36px;
        margin: 24px;
    }
    h3 {
        font-size: 24px;
        margin: 24px;
    }
    p {
        font-size: 18px; /* Tamaño de fuente para pantallas más pequeñas */
        margin: 24px;
    }
}

/* Estilos header */
header {
    font-size: 20px;
    color: black;
    font-family: "Lexend Deca", serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav-links {
    margin-top: 15px;
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 70px;
}

.nav-links a {
    text-decoration: none;
    font-weight: normal;
    color: black;
}

header img {
    width: 100px; /* Define el ancho deseado */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin-left: 70px;
    margin-top: 10px;
}

header span {
    color: #8a2be1;
}

.texto-inicio {
    width: 50%;
}

.cta-button {
    display: inline-block;
    padding: 15px 25px;
    color: black;
    border: black, solid;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin: 70px;
    margin-top: 20px;
    margin-bottom: 120px;
    font-size: 20px;
    font-family:  "Lexend Deca", serif;
}

@media (max-width: 500px) {
    header .cta-button {
        margin: 24px;
        margin-bottom: 120px;
    }
    h1 {
        width: 80%;
    }
    header img {
        margin: 24px;
    }
    .texto-inicio {
        width: 80%;
    }
}

.fondo-inicio {background: conic-gradient(
    from 320deg, /* Ángulo de inicio del gradiente */
    #fded95 1%,
    #fe9808 6%, 
    #c46275 30%, 
    #8a2be1 39%, 
    #8a2be1 75%, 
    #fded95 83%, 
    #ffffff 87%, 
    #fded95 98%);
    background-position: 30% 50%; /* centro del gradiente hacia la derecha (60% en X, 50% en Y) */
    background-size: 200% 200%; /* tamaño del efecto*/
}

/* Estilos seccion quienes somos */
.titulo-quienes-somos { 
    color: #892be144;
    font-weight: 500;
    font-size: 98.60px;
    white-space: nowrap; /* Evita que el texto pase a la siguiente línea */
    overflow: hidden; /* Oculta el texto que excede el ancho */
    margin-right: 0px;
}

.descripcion-grool {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 150px;
    line-height: 150%;
    margin-top: 70px;
}

@media (max-width: 768px) {
        .descripcion-grool {
        width: 75%;
        }
        .titulo-quienes-somos { 
        margin-left: 24px;
        }
}

/* Estilos seccion servicios */
#seccion-servicios { 
    background-color: black;
    padding: 20px 20px;
}

#seccion-servicios span {
    color: #FDED95;
}

#seccion-servicios div {
    border-top: 1.5px solid white; /* Línea superior */
    margin: 70px;
}

#seccion-servicios div h3 { /* elimimina margen general (p) para trabajar div */
    margin-left: 0px;
}

#seccion-servicios div p { /* elimimina margen general (p) para trabajar div*/
    margin-left: 0px

}

@media (max-width: 768px) {
    h2 { font-size: 30px;
        margin: 24px;
    }
    #seccion-servicios div {
        margin: 24px;
    }
}

/* Estilos seccion Como lo hacemos*/

.pasos {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .pasos { 
        overflow-x: auto;
        justify-content: flex-start; /* Centra las imágenes horizontalmente */
    }
}

.pasos-detalle {
    min-width: 300px;
    max-width: 420px;
    height: 350px;
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pasos-detalle p {
    overflow: hidden; /* Oculta contenido desbordado */
    text-overflow: ellipsis; /* Agrega "..." si el texto es muy largo */
    white-space: wrap; /* Evita que el texto se divida en varias líneas */
    max-lines: 6;
    margin: 20px;
    
}

.pasos-detalle h3 {
    margin: 20px;
    white-space: wrap; /* Evita que el texto se divida en varias líneas */
}


.fondo-info {
        background: radial-gradient(circle at 3% 90%, #ffffff, #892be128, #ffffff, #fded953e, #fe97082d);
        margin: 0;
        background-size: 200% 200%; /* tamaño del efecto*/
        padding-bottom: 140px;
}

/* Estilos seccion equipo */

#seccion-equipo {
    margin: 70px;
    margin-bottom: 0px;
}

.organizacion-equipo {
    display: flex; /* Activa flexbox */
    justify-content: flex-start; /* Centra las imágenes horizontalmente */
    align-items: center; /* Alinea las imágenes verticalmente */
    overflow-x: auto; /* Permite desplazamiento horizontal */
    white-space: nowrap; /* Evita que las imágenes pasen a una nueva línea */
}

.organizacion-equipo img {
    width: 280px; 
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    #seccion-equipo { 
        margin: 24px
    }
}

/* Estilos seccion final */
#seccion-final {
    background-color: black;
    color: #ffffff;
    margin: 0px;
}

.titulo-formulario {
    width: 25%;
    color: #ffffff;
    padding-top: 120px;
    padding-bottom: 0px;
}

.flecha { 
    margin: 70px;
    margin-top: 0px;
}

.formulario {
        color: #ffffff;
        border: #ffffff, solid;
        background-color: #892be100;
        border-radius: 30px;
        font-size: 20px;
        font-family:  "Lexend Deca", serif;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 48px;
        border-width: 2px;
}

.formulario-consulta {
    color: #ffffff;
    border: #ffffff, solid;
    background-color: #892be100;
    border-radius: 30px;
    font-size: 20px;
    font-family:  "Lexend Deca", serif;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 2px;
    height: 158px;
}

#seccion-final label {
        display: block;
        color: #ffffff;
        font-size: 15px;
        font-family: "Lexend Deca", serif;
}

#seccion-final .cta-button {
    color: #ffffff;
    border: #ffffff, solid;
    background-color: #892be100;
}

/* Estilos footer */
footer {
    background-color: black;
    background-image: image();
    margin-top: 0px;
    font-family: "Lexend Deca", serif;
    margin-right: 70px;
    margin-left: 70px;
    display: flex; /* Activa flexbox */
    justify-content: space-between; /* Coloca el texto a la izquierda y el logo a la derecha */
    align-items: end;
    padding-bottom: 100px; /* Espaciado interno del footer */
}

.logo-blanco {
    width: 300px; /* Define el ancho deseado */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin-left: 70px;
}

footer h2 {
    color: #FDED95;
    font-size: 18px;
    font: normal;
    margin: 0px;
}

footer ul {
    list-style: none;
    margin-top: auto;
}

footer ul a {
    font-weight: normal;
    text-decoration: none;
    color: #fff;
}

/* organizacion accesos footer*/
.enlaces-footer {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 0;
}

.footer-columna {
    min-width: 200px;
    justify-content:flex-start;
}

.redes-sociales {
    display: flex;
    justify-content:flex-start;
    gap: 30px;
}

.iconos-redes {
    width: 50px; /* Define el ancho deseado */
    height: auto; /* Mantiene la proporción original de la imagen */
}

/* Página quienes somos */
.head-equipo {
    color: #0000;
    background:  radial-gradient(circle at 1% 80%, #ffffff, #892be128, #ffffff, #fded953e, #fe97082d);
    margin: 0px;
}

.linea-quiensomos {
    margin: 70px;
    border-bottom: 3px solid black; /* Línea inferior */
    margin-bottom: 20px;
}

.head-equipo h1 {
    font-family: "Lexend Deca", serif;
    font-weight: 500;
    font-size: 98.60px;
    margin-top: 120px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.principal-equipo {
    width: 100%;
    display: block;
    height: auto;
    margin: 0px;
    padding: 70px;
    padding-top: 20px;
}

.columnas-equipo {
    display: flex;
    width: 100%;
    align-items: flex-start; /* Centra verticalmente en desktop */
    justify-content: space-between; /* Distribuye los elementos equitativamente */
    padding-bottom: 120px;
}


/* Ajuste del contenedor del texto */
.texto-equipo {
    width:100%; /* Ocupa la mitad en desktop */
    padding-left: 70px;
    margin-bottom: 20px; /* Agrega separación entre párrafos */
    line-height: 1.6; /* Mejora la legibilidad */
}

/* Ajuste del contenedor de la imagen */
.imagen2-equipo img {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra la imagen */
}

.imagen2-equipo img {
    width: 100%
}

/* Estilos para móviles */
@media (max-width: 768px) {
    .columnas-equipo {
        flex-direction: column; /* Cambia a una sola columna */
        text-align: center; /* Centra el texto */
    }

    .texto-equipo, 
    .imagen2-equipo {
        width: 100%; /* Ocupan todo el ancho */
    }

    .imagen2-equipo {
        margin-top: 20px; /* Espacio entre el texto y la imagen */
    }
}

/* Página portfolio*/

.head-portfolio {
    background: black;
    color: #fff;
}

.head-portfolio .nav-links a {
    color: white;
}

.head-portfolio h1{
    color: #fff;
    font-family: "Lexend Deca", serif;
    font-weight: 500;
    font-size: 98.60px;
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.head-portfolio h1 span {
    color: #fe9808;
}

.imagenes-portfolio {
    display: flex;
    justify-content: space-between; /* Distribuye las imágenes uniformemente */
    align-items: center; /* Alinea las imágenes verticalmente */
    flex-wrap: wrap; /* Permite que se acomoden en varias líneas si es necesario */
    margin-right: 70px;
    padding-bottom: 20px;
}

.imagenes-portfolio img { 
    max-width: 500px;
    min-width: 310px;
    height: auto;
}

/* Detalle portfolio */
.titulo-pag-detalle h1 {
    text-align: left;
    border-bottom: 2.5px solid white; /* Línea inferior */
    margin-bottom: 20px;
    font-size: 70px;
    padding-bottom: 20px;
}

.columnas-proyecto {
    display: flex;
    width: 100%;
    align-items: flex-start; /* Centra verticalmente en desktop */
    justify-content: space-evenly; /* Distribuye los elementos equitativamente */
}

.texto-proyecto p {
    color: white;
    font-weight: 200;
    width: 70%; /* Ocupa la mitad en desktop */
    margin-bottom: 20px; /* Agrega separación entre párrafos */
    line-height: 1.6; /* Mejora la legibilidad */
}

.partes-proyecto p {
    color: white;
    width: 700px; /* Ocupa la mitad en desktop */
    padding-right:  70px;
    margin-bottom: 20px; /* Agrega separación entre párrafos */
    line-height: 3.5; /* Mejora la legibilidad */
    margin: 0px;
    font-weight: 200;
}

.concepto-generador {
    display: flex; /* Necesario para que justify-content y align-items funcionen */
    flex-direction: column; /* Para apilar el h2 y el p en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto dentro de h2 y p esté centrado */
    margin: 70px;
}

.fondo {
    width: 100%;
    height: auto; 
    background-image: url(imágenes/difuminado.png);
    background-size: cover; 
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.concepto-detalles {
    min-width: 300px;
    max-width: 1200px;
    height: auto;
    background: rgba(0, 0, 0, 0.366);
    padding: 40px;
    margin: 100px;
    border-radius: 20px;
    border: 1px, solid white;
}

.concepto-generador h2 {
    color: white;
    font-size: 32px;
    font-weight: 300;
    align-items: center;
    margin: 0px;
    padding: 20px;
}

.concepto-generador p {
    color: white;
    font-size: 24px;
    font-weight: 200;
    align-items: center;
    padding: 20px;
    letter-spacing: 6px;
    line-height: 35px;
}

.carrusel-portfolio {
    display: flex; /* Activa flexbox */
    justify-content: flex-start; /* Centra las imágenes horizontalmente */
    align-items: center; /* Alinea las imágenes verticalmente */
    overflow-x: auto; /* Permite desplazamiento horizontal */
    white-space: nowrap; /* Evita que las imágenes pasen a una nueva línea */
}

.imagen-detalle-proyecto {
    width: 80%;
    height: auto;
    margin: 70px;
}