
// Página portfolio

.head-portfolio {
    background: black;
    color: #fff;
    .nav-links {
        a {
        color: white;
    }
}
h1{
    color: #fff;
    font-family: "Nexa", sans-serif;
    font-weight: 500;
    font-size: 98.60px;
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-top: 70px;
    margin-bottom: 70px;
    span {
        color: $paleta-naranja;
    }
}
}

.imagenes-portfolio {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 40px;
    div {
        display: flex;
        justify-content: center; /* Centra la imagen dentro del div */
        align-items: center;
    }
    .imagenes-portfolio1 { 
        max-width: 450px;
        min-width: 280px;
        height: auto;
    }
    .imagenes-portfolio2 { 
        max-width: 450px;
        min-width: 280px;
        height: auto;
    }
    .imagenes-portfolio3 { 
        max-width: 450px;
        min-width: 280px;
        height: auto;
    }   
    .imagenes-portfolio4 { 
        max-width: 450px;
        min-width: 280px;
        height: auto;
    }
    .imagenes-portfolio5 { 
        max-width: 450px;
        min-width: 280px;
        height: auto;
    }
    .imagenes-portfolio6 { 
        max-width: 450px;
        min-width: 280px;
        height: auto;
    }
}

.imagenes-portfolio1:hover {
    content: url("../imagenes/cliente1hover.png")
        }   

.imagenes-portfolio2:hover {
    content: url("../imagenes/cliente2hover.png")
        } 
        
.imagenes-portfolio3:hover {
    content: url("../imagenes/cliente3hover.png")
        } 

.imagenes-portfolio4:hover {
    content: url("../imagenes/cliente4hover.png")
        }  

.imagenes-portfolio5:hover {
    content: url("../imagenes/cliente5hover.png")
        }  

.imagenes-portfolio6:hover {
    content: url("../imagenes/cliente6hover.png")
        }  
    
@media (max-width: 500px) {
    .head-portfolio {
        h1 { 
        font-size: 40px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
}
